@import url("./font-awesome.css");

html {
    font-size: 62.5%;
}
/*@media only screen and (min-width: 481px){*/
    /*html {*/
        /*font-size: 94%!important;*/
    /*}*/
/*}*/
/*@media only screen and (min-width: 561px){*/
    /*html {*/
        /*font-size: 109%!important;*/
    /*}*/
/*}*/
/*@media only screen and (min-width: 641px){*/
    /*html {*/
        /*font-size: 125%!important;*/
    /*}*/
/*}*/

body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    font-size:1.4rem;
}
.screenLoading{
    position:fixed;
    min-heihgt:100%;
    height:100vh;
    width:100%;
    width:100vw;
    background-color:#000;
    z-index:9999;
}

.screenLoading .spinner {
    width: 8rem;
    height: 8rem;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%);
    margin: auto;

}

.screenLoading .spinner .circle {
    width: 7.4rem;
    height:7.4rem;
    position:absolute;
    border-radius: 50%;
    border-top: 0.3rem solid rgba(255, 255, 255, 0.2);
    border-right: 0.3rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.2);
    border-left: 0.3rem solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.screenLoading .spinner>img{
    margin:1rem;
    width:6rem;
}



#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 6rem;
    padding:1rem;
    border-radius: 100%;
    border: 0.5rem solid white;
    margin-bottom: 4rem;
    cursor:pointer;
    transition:0.5s;
}
#avatar:hover{
   transform: rotate(360deg);
}
.inclineTarget{
    height: 5rem;
    line-height: 5rem;
    background-color: #0054ff;
    color: #fff;
    width: 26rem;
    position: absolute;
    top: 3.5rem;
    left: -6.5rem;
    transform: rotate(-45deg);
    box-shadow:0px 0px 1px 1px #A4BEFF;
    font-size:2.8rem;
    word-spacing:1rem;
    text-align: center;
}
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h3 {
    color: white;
    margin-top:2rem;
    margin-bottom: 2rem;
    font-weight: lighter;
}
.content {
    padding-top: 10rem;
    padding-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    /*min-height:100%;*/
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 0.2rem solid white;
    color: white;
    margin: 0.8rem;
    display: inline-block;
    list-style: none;
    width: 6.5rem;
    height: 6.5rem;
    line-height:6.5rem;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
li a, li span {
    color: white;
    cursor:pointer;
    text-decoration: none;
}
.description {
    display: none;
}

/*@media (max-width: 450px) {*/
/*ul {*/
    /*text-align: center;*/
/*}*/
/*li {*/
    /*border-radius: 0%;*/
    /*border: none;*/
    /*color: white;*/
    /*display: block;*/
    /*list-style: none;*/
    /*margin: 1rem 0px;*/
    /*text-align: center;*/
    /*height: auto;*/
    /*width: auto;*/
/*}*/
/*li:hover {*/
    /*background-color: none;*/
    /*transition: none;*/
/*}*/
/*a {*/
    /*text-align: justify;*/
    /*border: 0.2rem solid white;*/
    /*border-radius: 0.5rem;*/
    /*color: white;*/
    /*padding: 1.5rem;*/
    /*padding-left: 3rem;*/
    /*width: 70%;*/
/*}*/
/*a:hover {*/
    /*-webkit-transition: 500ms;*/
    /*-moz-transition: 500ms;*/
    /*transition: 500ms;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/
/*.description {*/
    /*display: inline-block;*/
    /*color: white;*/
    /*font-family: Arial;*/
    /*margin-left: 4rem;*/
/*}*/
/*.content {*/
    /*padding-top: 6rem;*/
/*}*/
/*}*/
