body{
    font-size:1.6rem;
    color:#ccc;
}
.three_article_content{
    margin:2rem;
}
.three_article_content .pageTitle{
    font-size:2.4rem;
    font-weight: normal;
    border-bottom:dashed 1px rgba(255,255,255,0.5);
    padding:1rem 0px;
}
.three_article_content .sectionTitle{
    margin:2rem 0px;
    color:#4b0;
    font-size:1.8rem;
}
.three_article_content .sectionSmallTitle{
    margin:2rem 0px;
    color:#ddd;
    font-weight:800;
    font-size:1.4rem;
}